*{
    margin: 0;
    padding: 0;
}

.container{
    border: 1px solid black;
    border-width: 2px 2px 4px 2px;
    background-color: whitesmoke;
    border-radius: 5px;
    height: 300px;
    width: 80%;
    margin: auto;
    margin-top: 25%;
}

.inst{
    font-size: 25px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
    font-style: italic; 
}

.display{
    width: 70%;
    margin: auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
}

input{
    height: 50px;
    text-indent: 10px;
    font-size: 20px;
    font-style: italic;
    padding-right: 5px;
}

button{
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    height: 54px;
    width: 15%;
    flex: none;
}

.display-1{
    width: 80%;
}

.display-2{
    width: 50%;
    text-align: right; 
    margin-top: 5%;
}

.bg-lightgrey{
    background-color: white;
    border: 1px solid grey;
    border-width: 2px 2px 4px;
    border-radius: 4px;
}

.bg-green{
    background-color: #04AA6D;
    border: 1px solid grey;
    border-width: 2px 2px 4px;
    border-radius: 4px;
}

.bg-green:active{
    border-width: 2px 2px 2px;
}

.bg-green:hover{
    cursor: pointer;
    background-color: #059862;
}

@media only screen and (max-width: 500px) {
    .container{
        width: 90%;
        height: 200px;
        margin-top: 50%;
    }
    .inst{
        font-size: 15px;
    }
    .display{
        width: 80%;
    }
    .display-1{
        width: 70%;
        height: 30px;
        font-size: 12px;
    }
    .display-2{
        width: 60%;
        height: 30px;
        font-size: 12px;
    }
    button{
        font-size: 12px;
        width: 20%;
        height: 34px;
    }
}
