*{
    margin: 0;
    padding: 0;
}

.container{
    border: 1px solid black;
    border-width: 1px 1px 3px;
    background-color: whitesmoke;
    border-radius: 5px;
    height: 600px;
    width: 500px;
    margin: 100px auto;
}

.display{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 15px;
}

.display-1{
    margin: 5px auto;
    width: 400px;
    height: 40px;
    background: none repeat scroll 0 0 #fff;
    text-align: right;
    text-indent: 10px;
    font-size: 30px;
    padding-right: 5px;
}

.key-pad{
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 400px;
    margin-top: 10px;
}

.row{
    display: flex;
    width: inherit;
    height: inherit;
    flex-direction: row;
}

.keys{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0;
    margin: 2px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.keys:hover{
    background-color: whitesmoke;
}

.col{
    display: flex;
    flex-direction: row;
    width: inherit;
    height: inherit;
}

.flex-2{
    flex: 2;
    padding-right: 6px;
}

.bg-lightgrey{
    background-color: white;
    border: 1px solid grey;
    border-width: 1px 1px 3px;
    border-radius: 4px;
}

.bg-red,.bg-red:hover{
    background-color: lightcoral;
    border: 1px solid grey;
    border-width: 1px 1px 3px;
    border-radius: 4px;
}

.bg-grey{
    background-color: lightgrey;
    border: 1px solid grey;
    border-width: 1px 1px 3px;
    border-radius: 4px;
}

.bg-green,.bg-green:hover{
    background-color: lightgreen;
    border: 1px solid grey;
    border-width: 1px 1px 3px;
    border-radius: 4px;
}


.keys:active{
    position: relative;
    border-bottom: 1px solid grey;
}

@media only screen and (max-width: 768px){
    .container{
        height: 400px;
        width: 300px;
    }

    .display-1{
        font-size: 20px;
        height: 30px;
        width: 200px;
    }

    .key-pad{
        height: 200px;
        width: 200px;
    }

    .keys{
        font-size: 15px;
    }
}
